* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: rgba(30, 98, 98, 0.45);
}

nav {
	text-align: center;
	padding: 20px;
	background: rgba(30, 98, 98, 1);
	color: rgba(236, 255, 251, 1);
}

nav {
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
}

.container {
	display: flex;
	padding: 50px;
	align-items: center;
	justify-content: space-evenly;
}

#search {
	/* padding: 20px; */
	/* margin: 10px; */
	width: 100%;
	height: 60px;
	align-self: center;
	justify-self: center;
	border-radius: 100px;
	border: 3px solid rgba(30, 98, 98, 0.7);
	background: rgba(30, 98, 98, 0.7);
	box-shadow: inset 0 2px 0 #17c4c4;
}

#search:focus {
	outline: none;
}

.hero-image {
	width: 40%;
	border-radius: 20px;
	justify-content: center;
	align-self: center;
}

@media screen and (max-width: 900px) {
	nav {
		margin-bottom: 30px;
		width: 100%;
	}
	.container {
		display: inline;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
	}

	.hero-image {
		width: 80%;
		padding: 40px;
		border-radius: 20px;
		justify-content: center;
		align-self: center;
	}

	#search {
		width: 90%;
		justify-content: center;
		align-self: center;
	}

	.hero_text {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 0;
		padding-right: 0;
	}
	/* .contain input {
		width: 100%;
	}
	input {
		font-size: 15px;
	} */
}

#result_container {
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

h3 {
	color: rgba(236, 255, 251, 1);
	letter-spacing: 2px;
	line-height: 25px;
}

.hero_text {
	padding-left: 50px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card {
	box-shadow: inset 0 3px 0 #17c4c4;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	width: 250px;
	height: 300px;
	background: rgba(30, 98, 98, 0.7);
	text-align: center;
}

.count {
	padding: 10px;
	letter-spacing: 2px;
}

.description {
	font-weight: lighter;
	color: rgba(236, 255, 251, 0.7);
}

.name {
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
}

#input {
	width: 50%;
	height: 60px;
	align-self: center;
	justify-self: center;
	border-radius: 100px;
	border: 3px solid rgba(30, 98, 98, 0.7);
	background: rgba(30, 98, 98, 0.7);
	box-shadow: inset 0 2px 0 #17c4c4;
}
